* {
  margin: 0px;
  padding: 0px;
}

.delete {
  border: 0;
  background-color: transparent;
  color: crimson;
}
.delete:hover {
  color: black;
}

img {
  object-fit: contain;
  width: 50px;
  height: 50px;
}
