.main {
  margin-top: auto;
}
#outlined-basic {
  width: 500px;
  height: 10px;
}
.signin-btn {
  margin-top: 20px;
}
.fg-text {
  text-align: right;
  margin-top: 30px;
  color: red;
  cursor: pointer;
}
h2 {
  text-align: center;
}
.mytoast {
  height: 70px;
}

.title {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  height: 80px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: white;
  text-align: center;
}
